body{
    padding: 0;
    margin: 0;
    background: url('https://cdn.pixabay.com/photo/2015/08/30/11/16/landscape-914148_960_720.jpg');
    background-repeat: no-repeat ;
    background-size: cover ;
    width: 100%;
    color: #fff;
}
.temp{
    font-size: 100px;
    color: whitesmoke;
    text-shadow: 2px 1px  1px #666;
    
}
.card{
    background: transparent;
    box-shadow: inset 1px 1px 39px 1px #111;
}

.icon img{

 float: right;
 position: absolute;
 right: 0px;
 top: -25px;
 width: 150px;

}